nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(205, 248, 141);
    font-size: 1.4rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    background-color: rgb(52, 51, 51);
    color: white;
}